.ftpTableBody {
  position: relative;
}

.backLink {
  color: blue;
  text-decoration: underline;
  cursor: pointer;

  &.visited {
    color: purple;
  }

  &[disabled] {
    color: gray;
    cursor: initial;
  }
}
